.vs/AIJobAssistant/FileContentIndex/4a90516c-c2b5-4627-8a3f-385a824d536b.vsidx
.vs/AIJobAssistant/FileContentIndex/595ffadb-1cab-4b37-bcf5-cac3d03c8f36.vsidx
.vs/AIJobAssistant/FileContentIndex/5782f943-9f02-4bc7-8081-7dd0c7af2f0a.vsidx
.vs/AIJobAssistant/FileContentIndex/b5822163-fbda-4c33-b631-296fc556e8ed.vsidx
.vs/AIJobAssistant/FileContentIndex/ca7f5e3f-032d-40d9-a775-c0c125155bf2.vsidx
/.vs/AIJobAssistant
/AIJobAssistant.Core/obj/Debug/net8.0
/AIJobAssistant.Core/obj
/AIJobAssistant.Data/obj/Debug/net8.0
/AIJobAssistant.Data/obj
/AIJobAssistant.ML/obj
/AIJobAssistant.Web/bin/Debug/net8.0
/AIJobAssistant.Web/obj
